
body{
  background: url("img/background-85.jpg") no-repeat top center, linear-gradient(to right, #042945 0%,#0e445e 50%,#0e445e 51%,#10465a 100%);
}

.container{
  max-width: 1070px;
}
/************
Fonts
*************/
*{
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
}


/************
Section: Navbar
*************/

.main-logo{
  display:block;
  margin:34px auto 0;
  -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.main-logo.shrink{
  margin: 10px auto 10px;
}

nav.navbar.shrink {
  min-height: 48px;
}


.down-arrow-container{
  height: 35px;
  width: 75px;
  margin: auto;
  background-color: white;
  text-align: center;
}

.glyphicon-triangle-bottom{
  margin-top: 26px;
  font-size: 12px;
  color: #00609c;
}


/************
Section: Brand name & Brand motto
*************/
.HeroImage{
  margin: 295px auto 160px;
  text-align: center;
  color: white;
}

.HeroImage h1{
  font-size: 90px;
}
.HeroImage h6{
  font-size: 14px;
}


/************
Section: Input customer informaion PANEL / Input text field
*************/
.input-group-addon{
  background-color: white;
  border-right: none;
  margin-bottom: 20px;
}

.form-control{
  margin-bottom: 20px;
  border-radius: 0;
}
.validFormEntry{
  border: 2px solid rgb(56,163,140);
  padding-left: 35px;
  background: url("img/check.png") no-repeat 10px 50%;
}

.validForm{
  transition: all 0.5s ease;
  padding-left: 35px;
  background: url("img/check.png") no-repeat 10px 10%;
}

/***********
input icon
***********/

/*

.input {
    width: 20px;
    height: 20px;
    background-image: url('images/microphone.png');
    background-repeat: no-repeat;
    background-position: right;
}*/

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.form-control:focus{
  webkit-box-shadow:none;
  -moz-box-shadow: none;
  box-shadow: none;
}


/************
Section: input customer informaion PANEL / Buttons
*************/

.btn-lg{
  font-size: 14px;
  margin-bottom: 20px;
  border-color:#38a38c;
  border-radius: 0;

}

.dimmed{
  background: rgba(255,255,255,.5);
}

.btn-primary.active:hover{
  border-radius: 0;
  background-color: #38a38c;
  color: #fff;
}

.btn-primary.active:focus{
  border-radius: 0;
  background-color: #38a38c;
  color: #fff;
}

.btn-primary.active{
  border-radius: 0;
  background-color: #38a38c;
  color: #fff;
}



/*********************
Panel Template Rules
*********************/

.panel-title{
  font-weight: bold;
  font-size: 26px;
  color: #252525;
}

.panel-subtitle{
  color: #707070;
  margin-bottom: 40px;
}

.btn-come-back{
  margin: 0;
  color: #cccccc;
}

.bottom-panel-button{

  background-color: #38a38c;
  text-align: center;
  color: #fff;
  height: 47px;
}

.bottom-panel-button p{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/*********************
Panel Template Rules - Structure
*********************/

.panel{
  border: 0px;
  border-radius: 0px
}

form {
  padding: 40px 40px 0;
}


#text-input-form{
  border: 0px;
}


#btn-submit{
  display: block;
  width: 300px;
  height: 70px;
  background-color: #1e717b;
  color: white;
  margin: 55px auto 85px;
  font-size: 18px;
  letter-spacing: 2px;
}


footer{
  color: #91a3ac;
  text-align: center;
  margin-bottom: 20px;
}
